.topNavMenu /*Menu text arrangement*/
{
    font-family: "Courier";
    font-weight: bold;
    text-decoration: none; /*removes the underline from each menu option*/
    color: whitesmoke;
    font-size: 20pt;
    text-align: center;
    float: right;
    margin: 2.5% 3%;
}
.topNav02 /*Menu Bar arrangement for other pages*/
{
    width: 100%;
    height: 12%;
    top: 5%;
    position: absolute;
    background-color: darkslategray;
}
.topLogo
{
    width: 20%;
    margin-left: 10%;
    margin-top: 2pt;
}
.footAlign
{
    font-family: Courier;
    color: white;
    text-align: center;
    margin: 20px; /*gives spacing between the bottom of the page and last <div>*/
    position: sticky;
}
.footText
{
    text-decoration: none;
    color: white
}
.centerText
{
    padding: 20px 200px;
    text-align: center;
}
.paraStyle
{
    font-family: "Arial";
    text-decoration: none;
}
fieldset
{
    border: medium none;
    margin: 0% 0% 2%;
    padding: 0;
    max-width: 100%;
}

.vbar
{
    /*Text for the Vertical Bar*/
    font-family: "Courier";
    font-weight: bold;
    color: white;
    font-size: 14pt;
    /*This is the verticle bar*/
    width: 20%;
    background-color:dimgray;
    text-align: center;
    height: 920pt;
    font-size: 14pt;
    top: 0%;
    left: 5%;

}
.container {
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.webLocal01
{
    position: absolute;
    top: 40%;
    left: 30%;
}
.webLocal02
{
    position: absolute;
    top: 40%;
    left: 60%;
}
.articleTitle
{
    background-color: royalblue;
    width: 1500px;
    height: 50pt;
    margin-left: 2%;
    /* Font Style */
    font-size: 15pt;
    color: whitesmoke;
    padding: 0 15px;

}
.articleInfo
{
    background-color: dimgrey;
    width: 1500px;
    height: 50pt;
    margin-left: -15px;
    margin-top: -25px;
    /* Font Style */
    font-size: 15pt;
    color: whitesmoke;
    padding: 10px 15px;

}
/*===============================================================================*/
/*Multi page classes*/
body
{
    margin: 0;
    background-color: dimgray;
}
.Weight
{font-weight: bold;}
.paraStyle
{
    font-family: "Arial";
    text-decoration: none;
}
.midNav
{
    width: 25%;
    height: 25%;
    position: center;
    text-align: center;
    float: left;
}
/*About page specific*/
#AboutUs
{
    text-align: center;
    margin: 0% 16%;
    font-size: 20pt;
}
#WhoWhatWhy
{
    text-align: center;
    margin-left: 35%;
    margin-top: 5%;
}
.markTwain
{
    width: 20%;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
}
.aboutPara01
{
    margin: 2%  20%; /*top/bottom left/right*/
    font-size: 30pt;
}
.aboutPara02
{
    margin: 2% 20% 3%; /*top left/right bottom*/
    font-size: 16pt;
}
.TheTeam
{
    text-align: center;
    margin: 4% 0% 2%;
    font-size: 25pt;
}