.centerText
{
    padding: 20px 200px;
    text-align: center;
}
#Intro
{
    text-align: center;
    font-size: 14pt;
    top: 20%;
    left: 40%;
    position: absolute;
}
#inputForm
{
    text-align: center;
    font-size: 14pt;
    top: 40%;
    left: 38%;
    position: absolute;
}
fieldset
{
    border: medium none;
    margin: 0% 0% 2%;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
.e-mailform
{
    margin: 0px 150px;
}
.vbar
{
    position: absolute;
    top: 0%;
    left: 2%;
    text-align: center;
    /*Text for the Vertical Bar*/
    font-family: "Arial";
    font-weight: bold;
    color: white;
    font-size: 150%;
    padding-top: 30%;
    /*This is the verticle bar*/
    width: 27%;
    height: 775px;
    background-color:dimgray;

}
.container {
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*===============================================================================*/
/*Multi page classes*/
.topNavMenu /*Menu text arrangement*/
{
    font-family: "Courier";
    font-weight: bold;
    text-decoration: none; /*removes the underline from each menu option*/
    color: whitesmoke;
    font-size: 175%;
    text-align: center;
    float: right;
    margin: 2.5% 3%;
}
.topNav02 /*Menu Bar arrangement for other pages*/
{
    width: 100%;
    height: 12%;
    top: 5%;
    position: absolute;
    background-color: darkslategray;
}
.topLogo
{
    width: 20%;
    margin-left: 10%;
    margin-top: .25%;
}
body
{
    margin: 0;
    background-color: dimgray;
}
.Weight
{font-weight: bold;}
.paraStyle
{
    font-family: "Arial";
    text-decoration: none;
}
.midNav
{
    width: 25%;
    height: 25%;
    position: center;
    text-align: center;
    float: left;
}
.footAlign
{
    font-family: Courier;
    color: white;
    text-align: center;
    margin: 20px; /*gives spacing between the bottom of the page and last <div>*/
    position: sticky;
}
.footText
{
    text-decoration: none;
    color: white;
}
/*Tool page specific CSS*/
.webLocal01
{
    position: absolute;
    top: 40%;
    left: 0%;
    width: 50%;
    text-align: center;
}
.webLocal02
{
    position: absolute;
    top: 40%;
    right: 0%;
    width:50%;
    text-align: center;
}
.articleTitle
{
    background-color: royalblue;
    width: 79.55%;
    height: 60px;
    margin-left: 7.5%;
    /* Font Style */
    font-size: 250%;
    color: whitesmoke;
    padding: 1% 1% 0%;

}
.articleInfo
{
    background-color: dimgrey;
    width: 79.55%;
    height: 100px;
    margin-left: 7.5%;
    margin-top: -2%;
    /* Font Style */
    font-size: 15pt;
    color: whitesmoke;
    padding: 1% 1% 0%;

}
/*About page specific CSS*/
#AboutUs
{
    text-align: center;
    margin: 0% 16%;
    font-size: 20pt;
}
#WhoWhatWhy
{
    text-align: center;
    margin-left: 35%;
    margin-top: 5%;
}
.markTwain
{
    width: 20%;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
}
.aboutPara01
{
    margin: 2%  20%; /*top/bottom left/right*/
    font-size: 30pt;
}
.aboutPara02
{
    margin: 2% 20% 3%; /*top left/right bottom*/
    font-size: 16pt;
}
.TheTeam
{
    text-align: center;
    margin: 4% 0% 2%;
    font-size: 25pt;
}